# IntelliJ IDEA
.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/
.idea/httpRequests/
.idea
*.iml


# Build output
/out/
/target/
/build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# properties files
*.properties


